*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


:root{
    --body-color: #efefef;
    --nav-color: #8255ef;
    --bg-color: #fff;

}
.dark-theme{
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}


body{
    background: var(--body-color);
    transition: background 0.3s;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 120px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}
nav-left ul li img{
    width: 15px;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;    
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #8255ef;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #8255ef;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #8255ef;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #8255ef;
    color: #fff;
    font-size: 16px;
    padding: 4px 0;
}
.event h3{
    font-size: 20px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{
    top: unset;
    bottom: 5px;
}
.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #626262;

}
.post-text{
    color: #797272;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 23px;
    margin: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: #626262;
}
.load-more-button{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}
.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #8255ef;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #0a0a0a;
}

/* ---------- profile page ---------- */
.profile-container{
    padding: 20px 15%;
    color: #626262;
}
.cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-image{
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}
.the_button{
    background: #8255ef;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right{
    text-align: right;
}

.profile-info{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;
}
.links-col{
    flex-basis: 65%;
}
.links-info{
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-intro{
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.profile-intro h3{
    font-weight: 600;
}
.intro-text{
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}
.profile-intro hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}
.profile-intro ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.profile-intro ul li img{
    width: 26px;
    margin-right: 10px;
}
.links-info ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.links-info ul li img{
    width: 26px;
    margin-right: 10px;
}
.dropbtn{
    color: white;
    padding: 20px;
    font-size: 16px;
    border: 1px black;
    cursor: pointer;
    background: url(ellipsis.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-top: 20px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #e0dddd;
    min-width: 160px;
    z-index: 1;
    margin-top: 20px;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
hr.solid{
    border-left: none;
    border-right: none;
    border-top: 1px solid #626262;
    border-bottom: none;
}
.show{
    display: block;
}
.dropdown-contet a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #fff;
}
.dropdown-content-height{
    max-height: 100px;
}
.post-input-container2 textarea{
    width: 90%;
    border: 0;
    outline: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;;
    border-right: 1px solid #ccc;;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.post-input-container3 textarea{
    width: 90%;
    height: 30px;
    border: 0;
    outline: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;;
    border-right: 1px solid #ccc;;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    font-size: large;
}
.post-input-container4 textarea{
    width: 90%;
    height: 30px;
    border: 0;
    outline: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;;
    border-right: 1px solid #ccc;;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
    font-size: large;
}
.friends-container{
    padding: 20px 15%;
    color: #626262;
}
.friends-details{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.friends-details ul li{
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.friends-details ul li img{
    width: 26px;
    margin-right: 10px;
}
/*-------media query for homepage----------*/
@media (max-width: 900px){
    .right-sidebar{
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    nav{
        flex-wrap: wrap;
    }
    .search-box{
        display: none;
    }
    .logo{
        width: 110px;
        margin-right: 20px;
    }
    .nav-left ul li img{
        width: 20;
        margin: 0 8px;
    }
    .nav-user-icon img{
        width: 30px;
    }
    .nav-user-icon{
        margin-left: 0;
    }
    .add-post-links{
        flex-wrap: wrap;
    }
    .main-content{
        flex-basis: 100%;
    }
    .add-post-links a{
        margin-right: 12px;
        font-size: 9px;
    }
    .add-post-links a img{
        width: 16px;
        margin-right: 5px;
    }
    .post-input-container{
        padding-left: 0%;
    }
}

/*-------media query for profile page----------*/
@media (max-width: 900px){
    .profile-container{
        padding: 20px 5%;
    }
    .profile-details{
        flex-wrap: wrap;
    }
    .pd-right{
        text-align: left;
        margin-top: 15px;
    }
    .pd-right button{
        margin-left: 0;
        margin-right: 10px;
    }
    .pd-row div h3{
        font-size: 16;
    }
    .profile-info{
        flex-wrap: wrap;
    }
    .info-col{
        flex-basis: 100%;
    }
    .links-col{
        flex-basis: 100%;
    }
}
.open-button{
    background: #8255ef;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.close-button{
    background: #8255ef;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.modal{
    max-width: 50ch;
    top:100px; 
    left:33%; 
    width:820px; 
    position:absolute; 
    z-index:41;
    padding:30px; 
}

.modal ul li button{
    background: #999999;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.modal ul li button:focus {
    background-color: #626262;
}

.open-button2{
    background: #8255ef;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.close-button2{
    background: #8255ef;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.modal2{
    max-width: 50ch;
    top:100px; 
    left:33%; 
    width:820px; 
    position:absolute; 
    z-index:41;
    padding:30px; 
}

.modal2 ul li button{
    background: #999999;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.modal2 ul li button:focus {
    background-color: #626262;
  }

.dropdown input{
    border: 0;
    background-color: #e0dddd;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.pd-right input{
    border: 0;
    background-color: #8255ef;
    color: white;
}
